/* 
* @Author: Marte
* @Date:   2016-08-03 13:10:22
* @Last Modified by:   Marte
* @Last Modified time: 2016-08-03 13:18:37
*/
html,body{height: 100%;width:100%;}
body{overflow: hidden;}
*{
    margin:0;padding: 0;
}