<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <title>loading</title>
    <style type="text/css">
		*{margin: 0;padding: 0;}
		
    </style>
    <!-- <script type="text/javascript" src="../Scripts/xyf-loading.js"></script> -->
    <script type="text/javascript">
    	alert('未加载')
    </script>
</head>

<body>
<img src="../新人注册底部浮框.png">
<img src="../新会员注册承接页-手机.jpg">
<img src="../新会员注册承接页-手机.jpg">
<img src="../新会员注册承接页-手机.jpg">

<img src="../新会员注册承接页-手机.jpg">
<img src="../新会员注册承接页-手机.jpg"><img src="../新会员注册承接页-手机.jpg"><img src="../新会员注册承接页-手机.jpg"><img src="../新会员注册承接页-手机.jpg"><img src="../新会员注册承接页-手机.jpg"><img src="../新会员注册承接页-手机.jpg"><img src="../新会员注册承接页-手机.jpg"><img src="../新会员注册承接页-手机.jpg"><img src="../新会员注册承接页-手机.jpg"><img src="../新会员注册承接页-手机.jpg"><img src="../新会员注册承接页-手机.jpg"><img src="../新会员注册承接页-手机.jpg"><img src="../新会员注册承接页-手机.jpg"><img src="../新会员注册承接页-手机.jpg"><img src="../新会员注册承接页-手机.jpg"><img src="../新会员注册承接页-手机.jpg">
<script type="text/javascript">
	document.onreadystatechange = completeLoading;
	function completeLoading(){
		  if (document.readyState == "complete"){
		  	alert('ok')
		  }
	}
</script>
</body>

</html>
